<%@page language="ABAP"%>
<!DOCTYPE html>
<html>
<head>
    <title>공지사항</title>
    <%@include file="../z_msp_100/inc_header.htm" %>
    <script>
        var dataSource, grid, csInfo, ntdiv, sDt, eDt;
        var seq = '<%=PA_SEQNO%>';
        var pageCmd = '<%=PA_FLAG%>';

        $(document).ready(function() {
            setForm();
            setButton();
            getListData();
            authorityCheck();
        });

        function authorityCheck() {         /* 권한 체크 */
            <% if PA_AUTH eq 'X'. %>
            $("#updateBtn").show();
            $("#delBtn").show();
            <% endif. %>
        }

        function setButton(){
            <% if PA_AUTH eq 'X'. %>
            $("#saveBtn").click(function(){
                reqApprove();
            })
            // 수정
            $("#updateBtn").click(function(){
                $("#updateBtn").hide();
                $("#delBtn").hide();
                $("#saveBtn").show();
                $(".file_attach").show();
                $(".file_no_attach").hide();
                $(".auth").show();
                $("#title").closest('input:text').prop('disabled', false);
                $("#sDt").data("kendoDatePicker").enable(true);
                $("#eDt").data("kendoDatePicker").enable(true);
                $("#ntdiv").data("kendoDropDownList").enable(true);
                $("#editor").prop('disabled', false);

                // 파일 삭제
                $("#file1_attach").append("<button>").find("button").text("삭제").addClass("fa fa-trash-o").click(function(){
                    deleteAttachFile($(this).parent().find("input[name^=obj01]").val());
                    $(this).parent().find("input[type=hidden]").each(function(){ $(this).val(''); });
                    $(this).parent().find("a").remove();
                    $(this).parent().find("button").remove();
                })
                $("#file2_attach").append("<button>").find("button").text("삭제").addClass("fa fa-trash-o").click(function(){
                    deleteAttachFile($(this).parent().find("input[name^=obj02]").val());
                    $(this).parent().find("input[type=hidden]").each(function(){ $(this).val(''); });
                    $(this).parent().find("a").remove();
                    $(this).parent().find("button").remove();
                })
                $("#file3_attach").append("<button>").find("button").text("삭제").addClass("fa fa-trash-o").click(function(){
                    deleteAttachFile($(this).parent().find("input[name^=obj03]").val());
                    $(this).parent().find("input[type=hidden]").each(function(){ $(this).val(''); });
                    $(this).parent().find("a").remove();
                    $(this).parent().find("button").remove();
                })
                $("#file4_attach").append("<button>").find("button").text("삭제").addClass("fa fa-trash-o").click(function(){
                    deleteAttachFile($(this).parent().find("input[name^=obj04]").val());
                    $(this).parent().find("input[type=hidden]").each(function(){ $(this).val(''); });
                    $(this).parent().find("a").remove();
                    $(this).parent().find("button").remove();
                })
            })

            // 삭제
            $("#delBtn").click(function() {
                if(confirm("삭제 하시겠습니까?") == true) {
                    reqDelete(csInfo);
                } else {
                    return;
                }
            });

            // 파일업로드
            $("#file1").click(function() {
                openFileUploadPopup('setFile1', 'ZMSP019');
            });
            $("#file2").click(function() {
                openFileUploadPopup('setFile2', 'ZMSP019');
            });
            $("#file3").click(function() {
                openFileUploadPopup('setFile3', 'ZMSP019');
            });
            $("#file4").click(function() {
                openFileUploadPopup('setFile4', 'ZMSP019');
            });
            <% endif. %>
        }

        <% if PA_AUTH eq 'X'. %>
        // 파일업로드
        function setFile1(data) {
            $("#file1").hide();
            $("#file1_attach").find("a").remove();
            $("#file1_attach").find("button").remove();
            $("#obj01").val(data.EV_OBJID);
            $("#fname1").val(data.EV_FNAME);
            $("#uri1").val(data.EV_URI);
            $("#file1_attach").append("<a>").find("a").attr("href", data.EV_URI).attr("target","_blank").text(data.EV_FNAME);
            $("#file1_attach").find("a").css("color", "blue");
            $("#file1_attach").find("a").css("text-decoration", "underline");
            $("#file1_attach").append("<button>").find("button").text("삭제").addClass("fa fa-trash-o").click(function() {
                deleteAttachFile($(this).parent().find("input[name^=obj01]").val());
                $(this).parent().find("input[type=hidden]").each(function(){ $(this).val(''); });
                $(this).parent().find("a").remove();
                $(this).parent().find("button").remove();
                $("#file1").show();
            }).css({"margin-left":"5px"});
        }
        // 파일업로드
        function setFile2(data) {
            $("#file2").hide();
            $("#file2_attach").find("a").remove();
            $("#file2_attach").find("button").remove();
            $("#obj02").val(data.EV_OBJID);
            $("#fname2").val(data.EV_FNAME);
            $("#uri2").val(data.EV_URI);
            $("#file2_attach").append("<a>").find("a").attr("href", data.EV_URI).attr("target","_blank").text(data.EV_FNAME);
            $("#file2_attach").find("a").css("color", "blue");
            $("#file2_attach").find("a").css("text-decoration", "underline");
            $("#file2_attach").append("<button>").find("button").text("삭제").addClass("fa fa-trash-o").click(function() {
                deleteAttachFile($(this).parent().find("input[name^=obj02]").val());
                $(this).parent().find("input[type=hidden]").each(function(){ $(this).val(''); });
                $(this).parent().find("a").remove();
                $(this).parent().find("button").remove();
                $("#file2").show();
            }).css({"margin-left":"5px"});
        }

        // 파일업로드
        function setFile3(data) {
            $("#file3").hide();
            $("#file3_attach").find("a").remove();
            $("#file3_attach").find("button").remove();
            $("#obj03").val(data.EV_OBJID);
            $("#fname3").val(data.EV_FNAME);
            $("#uri3").val(data.EV_URI);
            $("#file3_attach").append("<a>").find("a").attr("href", data.EV_URI).attr("target","_blank").text(data.EV_FNAME);
            $("#file3_attach").find("a").css("color", "blue");
            $("#file3_attach").find("a").css("text-decoration", "underline");
            $("#file3_attach").append("<button>").find("button").text("삭제").addClass("fa fa-trash-o").click(function() {
                deleteAttachFile($(this).parent().find("input[name^=obj03]").val());
                $(this).parent().find("input[type=hidden]").each(function(){ $(this).val(''); });
                $(this).parent().find("a").remove();
                $(this).parent().find("button").remove();
                $("#file3").show();
            }).css({"margin-left":"5px"});
        }
        // 파일업로드
        function setFile4(data) {
            $("#file4").hide();
            $("#file4_attach").find("a").remove();
            $("#file4_attach").find("button").remove();
            $("#obj04").val(data.EV_OBJID);
            $("#fname4").val(data.EV_FNAME);
            $("#uri4").val(data.EV_URI);
            $("#file4_attach").append("<a>").find("a").attr("href", data.EV_URI).attr("target","_blank").text(data.EV_FNAME);
            $("#file4_attach").find("a").css("color", "blue");
            $("#file4_attach").find("a").css("text-decoration", "underline");
            $("#file4_attach").append("<button>").find("button").text("삭제").addClass("fa fa-trash-o").click(function() {
                deleteAttachFile($(this).parent().find("input[name^=obj04]").val());
                $(this).parent().find("input[type=hidden]").each(function(){ $(this).val(''); });
                $(this).parent().find("a").remove();
                $(this).parent().find("button").remove();
                $("#file4").show();
            }).css({"margin-left":"5px"});
        }
        <% endif. %>

        function getListData() {
            var flag = pageCmd == 'C' ? 'I' : '';
            var cfc = new CallFuncClass();
            cfc.setFuncName('Z_MSP_IF219_02');
            cfc.addParam('IV_SEQNO', seq, false);
            cfc.addParam('IV_FLAG', flag, false);
            cfc.addParam('CT_LIST','',false);

            $.ajax({
                url: URL.callFunction,
                dataType: "jsonp",
                jsonp : "callback",
                data: cfc.getData(),
                type: "POST",
                success: function(data) {
                    if(data.EV_SUBRC == "00" || data.EV_SUBRC == "") {
                        csInfo = data.CT_LIST[0];
                        setData(data);
                        getListbox(pageCmd);
                    } else{
                        alert("error");
                        self.close();
                    }
                },
                error: function () {
                    alert("error");
                    self.close();
                }
            });
        }

        function setData(data){
            // 내용
            $("#editor").text(csInfo.ntcnt.replace(/#/g,"\n"));
            // 제목
            $("#title").val(csInfo.title);
            // 공지 구분
            $("#ntdiv").val(csInfo.ntdiv);
            // 게시 시작일
            $("#sDt").val(kendo.toString(kendo.parseDate(csInfo.ntfrd, 'yyyyMMdd'), 'yyyy.MM.dd'));
            // 게시 종료일
            $("#eDt").val(kendo.toString(kendo.parseDate(csInfo.nttod, 'yyyyMMdd'), 'yyyy.MM.dd'));
            // 첨부파일
            if(csInfo.objo1) {
                $("#file1_attach").append("<a>").find("a").attr("href", csInfo.url1).attr("target","_blank").text(csInfo.fname1);
                $("#file1_attach").find("a").css("color", "blue");
                $("#file1_attach").find("a").css("text-decoration", "underline");
                $("#obj01").val(csInfo.objo1);
                $("#fname1").val(csInfo.fname1);
                $("#uri1").val(csInfo.url1);
            }
            if(csInfo.objo2) {
                $("#file2_attach").append("<a>").find("a").attr("href", csInfo.url2).attr("target","_blank").text(csInfo.fname2);
                $("#file2_attach").find("a").css("color", "blue");
                $("#file2_attach").find("a").css("text-decoration", "underline");
                $("#obj02").val(csInfo.objo2);
                $("#fname2").val(csInfo.fname2);
                $("#uri2").val(csInfo.url2);
            }
            if(csInfo.objo3) {
                $("#file3_attach").append("<a>").find("a").attr("href", csInfo.url3).attr("target","_blank").text(csInfo.fname3);
                $("#file3_attach").find("a").css("color", "blue");
                $("#file3_attach").find("a").css("text-decoration", "underline");
                $("#obj03").val(csInfo.objo3);
                $("#fname3").val(csInfo.fname3);
                $("#uri3").val(csInfo.url3);
            }
            if(csInfo.objo4) {
                $("#file4_attach").append("<a>").find("a").attr("href", csInfo.url4).attr("target","_blank").text(csInfo.fname4);
                $("#file4_attach").find("a").css("color", "blue");
                $("#file4_attach").find("a").css("text-decoration", "underline");
                $("#obj04").val(csInfo.objo4);
                $("#fname4").val(csInfo.fname4);
                $("#uri4").val(csInfo.url4);
            }
            if(!(csInfo.objo1) && !(csInfo.objo2) && !(csInfo.objo3) && !(csInfo.objo4)) {
                $(".file_attach").hide();
                $(".file_no_attach").show();
            }
        }

        function setForm(){
            // 공지구분
            $("#ntdiv").kendoDropDownList({
                dataTextField: "dcdnm",
                dataValueField: "dcdid",
                index:0
            });
            // 게시 시작일
            $("#sDt").kendoDatePicker({
                culture: "ko-KR",
                format: "yyyy.MM.dd"
            });
            // 게시 종료일
            $("#eDt").kendoDatePicker({
                culture: "ko-KR",
                format: "yyyy.MM.dd"
            });
            // popup 조회 모드 세팅(editable false)
            $("#title").closest('input:text').prop('disabled', true);
            $("#sDt").data("kendoDatePicker").enable(false);
            $("#eDt").data("kendoDatePicker").enable(false);
            $("#ntdiv").data("kendoDropDownList").enable(false);
            $("#editor").prop('disabled', true);
        }

        function getListbox(flag){
            var cfc = new CallFuncClass();
            cfc.setFuncName('Z_MSP_IF100_04');
            cfc.addParam('IV_GRPID', 'MSP006', false);
            cfc.addParam('IV_SPRAS', '3', false);
            cfc.addParam('CT_LIST', '', false);
            $.ajax({
                url: URL.callFunction,
                dataType: "jsonp",
                jsonp : "callback",
                data: cfc.getData(),
                type: "POST",
                success: function(data) {
                    var combobox_CT_NTDIV = $("#ntdiv").data("kendoDropDownList");
                    combobox_CT_NTDIV.setDataSource(new kendo.data.DataSource({data:data.CT_LIST}));
                    if(flag == 'C') {
                        combobox_CT_NTDIV.select(0);
                    } else{
                        combobox_CT_NTDIV.select(function(dataItem){
                            return dataItem.dcdid === $("#ntdiv").val();
                        });
                    }
                }
            });
        }
        <% if PA_AUTH eq 'X'. %>
        function reqApprove(){
            csInfo.seqno = seq;
            csInfo.title = $("#title").val();
            csInfo.ntdiv = $("#ntdiv").data("kendoDropDownList").value();
            var str = $("#editor").val()
            str = str.replace(/(?:\r\n|\r|\n)/g, '#');
            csInfo.ntcnt = str;
            csInfo.ntfrd = $("#sDt").val().replace(/\./g, "");
            csInfo.nttod = $("#eDt").val().replace(/\./g, "");
            csInfo.objo1 = $("#obj01").val();
            csInfo.objo2 = $("#obj02").val();
            csInfo.objo3 = $("#obj03").val();
            csInfo.objo4 = $("#obj04").val();
            csInfo.fname1 = $("#fname1").val();
            csInfo.fname2 = $("#fname2").val();
            csInfo.fname3 = $("#fname3").val();
            csInfo.fname4 = $("#fname4").val();
            csInfo.url1 = $("#uri1").val();
            csInfo.url2 = $("#uri2").val();
            csInfo.url3 = $("#uri3").val();
            csInfo.url4 = $("#uri4").val();

            var cfc = new CallFuncClass();
            cfc.setFuncName('Z_MSP_IF219_03');
            cfc.addParam('IV_PROCDIV', pageCmd, false);

            cfc.addParam('CT_LIST', csInfo, true);
            $.ajax({
                url: URL.callFunction,
                dataType: "jsonp",
                jsonp : "callback",
                data: cfc.getData(),
                type: "POST",
                success: function(data) {
                    alert(data.EV_MSG);
                    if(data.EV_SUBRC == "00" || data.EV_SUBRC == ""){
                        callBackFunc(window.opener, 'callBack', ['']);
                        self.close();
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }

        function reqDelete(csInfo){
            var cfc = new CallFuncClass();
            cfc.setFuncName('Z_MSP_IF219_03');
            cfc.addParam('IV_PROCDIV', 'D', false);
            cfc.addParam('CT_LIST', csInfo, true);

            $.ajax({
                url: URL.callFunction,
                dataType: "jsonp",
                jsonp : "callback",
                data: cfc.getData(),
                type: "POST",
                success: function(data) {
                    alert(data.EV_MSG);
                    callBackFunc(window.opener, 'callBack', ['']);
                    self.close();
                },
                error: function () {
                    alert("error");
                },
                beforeSend: function() {
                    kendo.ui.progress($("#container"), true);
                },
                complete: function() {
                    kendo.ui.progress($("#container"), false);
                }
            });
        }
        <% endif. %>
    </script>
</head>
<body>


<div class="popup">

    <h2 class="pop-tit">공지사항</h2>
    <div class="pop-con">
        <div class="hd-sch">
            <span class="tit-tx" style="width:15%;">제목</span>
            <input id="title" type="text" class="all" style="width:435px;">
        </div>
        <div class="hd-sch">
            <span class="tit-tx" style="width:15%;">공지구분</span>
            <input type="hidden" id="ntdiv" style="width: 100px" />
            <span class="tit-tx" style="width:15%;">게시기간</span>
            <input type="text" id="sDt" />
            ~
            <input type="text" id="eDt" />
        </div>

        <div class="row-bx">
            <div id="example">
                <textarea id="editor" style="height:250px; width:100%; resize: none;"></textarea>
                <form method="post" action="/kendo-ui/upload/submit">
                    <table id="fileTB" style="margin:10px">
                        <th rowspan="6" style="width: 20%">첨부파일</th>
                        <tr style="height: 35px" class="file_attach">
                            <td id="file1_attach">
                                <span id="file1" class="btn btn-default auth" style="display: none"><i class="fa fa-paperclip"></i> 파일추가1</span>
                                <input type="hidden" name="obj01" id="obj01" />
                                <input type="hidden" name="fname1" id="fname1" />
                                <input type="hidden" name="uri1" id="uri1" />
                            </td>
                        </tr>
                        <tr style="height: 35px" class="file_attach">
                            <td id="file2_attach">
                                <span id="file2" class="btn btn-default auth" style="display: none"><i class="fa fa-paperclip"></i> 파일추가2</span>
                                <input type="hidden" name="obj02" id="obj02" />
                                <input type="hidden" name="fname2" id="fname2" />
                                <input type="hidden" name="uri2" id="uri2" />
                            </td>
                        </tr>
                        <tr style="height: 35px" class="file_attach">
                            <td id="file3_attach">
                                <span id="file3" class="btn btn-default auth" style="display: none"><i class="fa fa-paperclip"></i> 파일추가3</span>
                                <input type="hidden" name="obj03" id="obj03" />
                                <input type="hidden" name="fname3" id="fname3" />
                                <input type="hidden" name="uri3" id="uri3" />
                            </td>
                        </tr>
                        <tr style="height: 35px" class="file_attach">
                            <td id="file4_attach">
                                <span id="file4" class="btn btn-default auth" style="display: none"><i class="fa fa-paperclip"></i> 파일추가4</span>
                                <input type="hidden" name="obj04" id="obj04" />
                                <input type="hidden" name="fname4" id="fname4" />
                                <input type="hidden" name="uri4" id="uri4" />
                            </td>
                        </tr>
                        <tr style="height: 35px; display: none;" class="file_no_attach">
                            <td>
                                <span style="color: #cccccc;">(첨부된 파일이 없습니다.)</span>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="btn-box r">
            <% if PA_AUTH eq 'X'. %>
            <a id="saveBtn" class="btn btn-blue" style="display: none"><i class="fa fa-floppy-o"></i> 저장</a>
            <a id="updateBtn" class="btn btn-blue" style="display: none"><i class="fa fa-pencil-square-o"></i> 수정</a>
            <a id="delBtn" class="btn btn-blue" style="display: none"><i class="fa fa-trash-o"></i> 삭제</a>
            <% endif. %>
        </div>
    </div>
    <a href="javascript:self.close();" class="bt-close"><span>닫기</span></button>
</div>

</body>
</html>
